@import
url('https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
:root{
    --default: url('../img/montain.jpg');
    --encima: #63b1df;
    --buttons: #114e72;
    --blanco:#ffffff;

}

body{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    background-image: var(--default);
    background-size: 150% 150vh;
}



#menu, #dash{
    margin-left: 1em;
    border-radius: 20px;
    background-color: var(--encima);
    opacity: 85%;
    
}

#menu{
    width: 20%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    
}

#menu > img{
    opacity: 100%;
    border-radius: 20px;
}

#menu > h2{
    text-align: center;
}


.button{
    background-color: var(--buttons);
    border-radius: 20px;
    margin: 5px;
    text-decoration: none;
    color:var(--blanco);
    padding: 1em;
    text-align: center;
    opacity: 100%;
}

.button:hover{
    background-color: var(--blanco);
    color: var(--negro);
    transition: 0.5s;
}

#dash{
    width: 73%;
    padding: 1em;
}

.notify{
    display: flex;
    justify-items: center;
    background-color: var(--blanco);
    color: #000;
    border-radius: 20px;
    padding: 10px;
    
}

/* Calculadora:*/
#dash-calc{
    padding: 1em;
    margin-left: 1em;
    border-radius: 20px;
    background-color: var(--encima);
    opacity: 85%;
    width: 200%;
}
/*Ejercicio Gato*/

.botones{
    padding: 10px;
    font-size: 2em;
    width: 10%;
    background-color: #447a96;
    border: 1px solid #000;
    border-radius: 10px;
    color:var(--negro);
    margin: 20px;
}
.botones:hover{
    width: 12%;
    transition: 0.5s;
    background-color: var(--blanco);
    color: #000;
}
.respuesta{
    visibility: hidden;
    opacity: 0;
}

.correcto{
    color: #41c041;
    visibility: visible;
    opacity: none;
}

.incorrecto{
    color: red;
    visibility: visible;
    opacity: 1;
}

/* ejercicio 5 --*/
.inl{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.calcular{
    border-radius: 5px;
    background-color: #14a4c9;
    color: #000;
    text-decoration: none;
    padding: 5px;
    border: 1px #14a4c9 solid;
    margin: 5px;
}

.calcular:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    padding: 10px;
}

.modales{
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 200px;
    display: none; 
}
.contenidoModal{
    background-color: #fff;
    color: #000;
    width: 60%;
    margin: auto; /* Centrarlo*/
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}


/* creando keyframes */
@keyframes animarmodal{
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8{
    font-size: 2rem;
    float: right;
    
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8:hover{
    cursor: pointer;
}

.contenidoModal > h2{
    background-color: #105555;
    color: #000;
    padding: 1rem 0;
    text-align: center;
    clear: both;
}
/* ejercicio 6*/
#forms{
    text-align: left;
}

#fomrs > input[name="nombre"]{
    margin-left: 10%;
}
#forms > input[name="fechaNacimiento"]{
    margin-left: 2%;
}
.especials_inputs{
    background: #fff;
    outline: none;
    color: #000;
    padding: 5px;
    border-radius: 20px;
    border: none;
    border-top: none;
    border-bottom: 3px rgb(80, 96, 243) solid;
}

/* Ejercicio 5 */
.modals{
    position: absolute;
    top: 25%;
    left: 45%;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 20px;
}

#tPerimetroModal,#cuPerimetroModal, #ciPerimetroModal, #rPerimetroModal{
    visibility: hidden;
}
#tAreaModal, #cuAreaModal, #ciAreaModal, #rAreaModal{
    visibility: hidden;
}